## Association Rule Homework

### Introduction of dataset

For this assignement we are taking new covid dataset which contains county  data with different features such as number of votes favoured to Trump and Biden, number of covid cases and deaths, Poverty and Unemployment percentages.

Source : https://www.kaggle.com/etsc9287/2020-general-election-polls

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df = pd.read_csv('county_statistics.csv')
df.shape

(4867, 9)

In [3]:
df.columns

Index(['county', 'state', 'percentage20_Donald_Trump',
       'percentage20_Joe_Biden', 'cases', 'deaths', 'TotalPop', 'Poverty',
       'Unemployment'],
      dtype='object')

### Excluding all the rows which have null values

In [4]:
df=df[df.Unemployment.notnull()]
df=df[df.deaths.notnull()]
df=df[df.percentage20_Joe_Biden.notnull()]

#### Shape of dataframe after dropping all null values

In [5]:
df.shape

(3048, 9)

In [6]:
df1=df[['county','state']]

In [7]:
df1['Red_county']= df['percentage20_Donald_Trump']>df['percentage20_Joe_Biden']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df1['Blue_county']= df['percentage20_Donald_Trump']<df['percentage20_Joe_Biden']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df1.Red_county.value_counts()

True     2577
False     471
Name: Red_county, dtype: int64

In [10]:

df1.Blue_county.value_counts()

False    2577
True      471
Name: Blue_county, dtype: int64

In [11]:
df1

         county state  Red_county  Blue_county
0     Abbeville    SC        True        False
3        Acadia    LA        True        False
4      Accomack    VA        True        False
9           Ada    ID        True        False
10        Adair    IA        True        False
...         ...   ...         ...          ...
4862       Yuma    AZ        True        False
4863       Yuma    CO        True        False
4864     Zapata    TX        True        False
4865     Zavala    TX       False         True
4866    Ziebach    SD       False         True

[3048 rows x 4 columns]

In [12]:
df1.shape

(3048, 4)

The apriori algorithmn implemented by mlxtend requires a dataframe that has either 0 and 1 or True and False as the data. In order to modify the dataframe into that format we will find the counties which have top 5% deaths and 5% cases.Similary we will compute counties which have top 10% Unemployment and proverty population

In [13]:
df1['death_percent']=(df['deaths']*100)/df['cases']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df1['cases_percent']=(df['cases']*100)/df['TotalPop']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
df1['Top_Deaths']=df1['death_percent']>5

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df1['Top_cases']=df1['cases_percent']>5

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df1['Top_cases'].value_counts()

False    2739
True      309
Name: Top_cases, dtype: int64

In [18]:
df1['Top_Deaths'].value_counts()

False    2858
True      190
Name: Top_Deaths, dtype: int64

In [19]:
df1['Top_unemploy']= df['Unemployment']>10

In [20]:
df1['Top_unemploy'].value_counts()

False    2787
True      261
Name: Top_unemploy, dtype: int64

In [21]:
df1['Top_Poverty']= df['Poverty']>10

In [22]:
df1['Top_Poverty'].value_counts()

True     2528
False     520
Name: Top_Poverty, dtype: int64

In [23]:
df1.to_csv('filter1.csv')

In [24]:
df1.drop(['state', 'death_percent','cases_percent'], axis = 1,inplace=True)

In [25]:
df1

,county,Red_county,Blue_county,Top_Deaths,Top_cases,Top_unemploy,Top_Poverty
0,Abbeville,True,False,False,False,False,True
3,Acadia,True,False,False,True,False,True
4,Accomack,True,False,False,False,False,True
9,Ada,True,False,False,False,False,True
10,Adair,True,False,False,False,False,False
...,...,...,...,...,...,...,...
4862,Yuma,True,False,False,True,True,True
4863,Yuma,True,False,False,False,False,True
4864,Zapata,True,False,False,False,True,True
4865,Zavala,False,True,False,False,True,True
4866,Ziebach,False,True,False,False,True,True

In [26]:
df1=df1.set_index('county')

In [27]:
df1

,Red_county,Blue_county,Top_Deaths,Top_cases,Top_unemploy,Top_Poverty
county,,,,,,
Abbeville,True,False,False,False,False,True
Acadia,True,False,False,True,False,True
Accomack,True,False,False,False,False,True
Ada,True,False,False,False,False,True
Adair,True,False,False,False,False,False
...,...,...,...,...,...,...
Yuma,True,False,False,True,True,True
Yuma,True,False,False,False,False,True
Zapata,True,False,False,False,True,True
Zavala,False,True,False,False,True,True
Ziebach,False,True,False,False,True,True

### Implementing apriori algorithm on this dataset

Now that the data is structured properly, we can generate frequent item sets that have a support of at least 7%

In [28]:
frequent_itemsets = apriori(df1, min_support=0.07, use_colnames=True)

In [29]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Top_cases),(Red_county),0.101378,0.845472,0.082021,0.809061,0.956934,-0.003691,0.809305
1,(Red_county),(Top_cases),0.845472,0.101378,0.082021,0.097012,0.956934,-0.003691,0.995165
2,(Top_Poverty),(Red_county),0.829396,0.845472,0.703412,0.848101,1.003109,0.002180,1.017306
3,(Red_county),(Top_Poverty),0.845472,0.829396,0.703412,0.831975,1.003109,0.002180,1.015348
4,(Top_Poverty),(Blue_county),0.829396,0.154528,0.125984,0.151899,0.982988,-0.002180,0.996900

In [30]:
rules[ (rules['lift'] >= 1) &
       (rules['confidence'] >= 0.8) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Top_Poverty),(Red_county),0.829396,0.845472,0.703412,0.848101,1.003109,0.002180,1.017306
3,(Red_county),(Top_Poverty),0.845472,0.829396,0.703412,0.831975,1.003109,0.002180,1.015348
7,(Top_cases),(Top_Poverty),0.101378,0.829396,0.086286,0.851133,1.026207,0.002204,1.146012
8,(Top_unemploy),(Top_Poverty),0.085630,0.829396,0.084646,0.988506,1.191838,0.013625,14.842520

#### Observations

We can observe from the above results that  For instance, we can see that rows with high lift occurs more frequently.

Also top poverty hit counties are happened to be more red counties and also high number of covid cases are observed in the counties where poverty is high.

### b)  What types of data preparation are necessary to ready your choice of data for association rules?

- In order to prepare the data ready for association rules we need to make sure there are no null values in the dataset.We need to drop the rows that don’t have values for tin the dataframe
- It also requires the values of the dataframe has to be either 0,1 or True,False values.
- We will consolidate the dataframe in such a way that each row corresponds as transaction that contains the features one hotcoded.

### References

1. https://docs.oracle.com/cd/E11882_01/datamine.112/e16808/algo_apriori.htm#DMCON287